VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
VITE_ENTRA_REDIRECT_URI=http://localhost:5173
VITE_ENTRA_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_ENTRA_LOGIN_SCOPES=User.Read
VITE_ENTRA_TOKEN_SCOPES=User.Read
VITE_API_BASE_URL=http://localhost:8080
